.app .app__header {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.app .app__footer {
  margin-top: 3rem;
}

.app .app__about {
  float: right;
}

@media (max-width: 1220px) {
  .app .app__about {
    display: none;
  }
  .app .app__footer {
    padding: 2rem;
  }
}